footer{
    background:#491a85!important;
    color: white!important;
    
}


.form-control{
    width:70%!important;
    color: #491A85!important;
    
} 

.footerDetails p{
    color: white !important;
}

.Text{
    color:#491A85!important;
} 