.deafult-button{
    background-color: var(--main-color);
    
    transition: all 0.3s ease;
    font-size: 11px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.deafult-button:hover{
    background-color: var(--main-color);
   
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}