.cover{
    
    background-color: var(--main-color);
    height: 200px;
}

.account-details{
    display: flex;
    justify-content: center;
    
}

.divider{
width: 2px;
height: 69px;
flex-shrink: 0;
background: #ECE9EF;

}

.buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.follow-btn{
    transition: 1s ease-in;
    text-align: center;
    color: #ECE9EF;
    width: 10em;
    height: 50px;
border-radius: 10px;
background: var(--main-color);
flex-shrink: 0;
padding: 10px;
margin:  0 20px;
}

.message-btn{
    cursor: pointer;
    text-align: center;
    color: var(--main-color);
    width: 10em;
    height: 50px;
border-radius: 10px;
background: white;
border: 1px var(--main-color) solid;
flex-shrink: 0;
padding: 10px;
margin:  0 20px;
}


.follow-btn:hover{
    
    transition: 1s;
    cursor: pointer;
    text-align: center;
    color: var(--main-color);
    width: 200px;
    height: 50px;
border-radius: 10px;
background: white;
border: 1px var(--main-color) solid;
flex-shrink: 0;
padding: 10px;
margin:  0 20px;
}