 .Hero{
background: #491A85;  
display: flex; 
align-items: center;
height: 100vh;

}  
.Hero .row{
   margin-bottom: 40px; 
}
.content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

@media screen and (max-width: 767px) {
    .Hero{
        height: 100%;
        display: flex;
        align-items: flex-start;
    }

    .content{
       flex: 1;
    }

    .hero-image{
        width: 300px;
    }

  }

.input-email-data {
    width: 300px;
    background-color: transparent;
    color: white;
    /* border: 0.5px solid white; */
}
