.right{
    background-color: #a6d4c454;
    padding: 40px; 
    margin: 20px;
    transition: transform 0.8s;
    
} 

.left{

    background-color: #d1d3d489;
    padding: 40px;
    margin: 20px;
    transition: transform 0.8s;
}  

.Text{
    color:#491A85;
}


.right:hover {
    background-color: #A6D4C4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05) rotate(-3deg);
    transition: transform 0.8s;
    transform: scale(1.05) rotate(3deg);
    transition: transform 0.8s;
    
    
}

.left:hover {
    background-color: #D1D3D4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1.05) rotate(-3deg);
    transition: transform 0.8s;
    transform: scale(1.05) rotate(3deg);
    transition: transform 0.8s;
}












