.right{
    background-color: #a6d4c454;
    padding: 40px; 
    margin: 20px;
    
} 

.left{

    background-color: #d1d3d489;
    padding: 40px;
    margin: 20px;
}  

.Text{
    color:#491A85;
}


.right:hover {
    background-color: #A6D4C4;
    
}

.left:hover {
    background-color: #D1D3D4;
}

.right:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.left:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.right:hover .Text {
    color: #FF5733;
}

.left:hover .Text {
    color: #FF5733;
}










