.right{
    background-color: #a6d4c454;
    padding: 40px; 
    margin: 20px;
    
} 

.left{

    background-color: #d1d3d489;
    padding: 40px;
    margin: 20px;
}  

.Text{
    color:#491A85;
}





