@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* Paddings */
  --padding-base: 1rem;

  /* Border radiuses */
  --br-5xl: 24px;

  /* Effects */
  --glass: blur(50px);
}
